* {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: flex-start;
}

nav li {
    list-style: none;
    padding-right: 40px;
    align-items: flex-start;
}


ul {
    justify-content: flex-end;
    padding-right: 28px;
}



.logo {
    width: 880px;
}

.logo-div {
    display: flex;
    justify-content: center;
}


#header p {
    text-align: center;
    color: white;
    font-family: 'Futura-LigObl';
    padding-top: 60px;
    font-size: 48px;
}

#header a {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Futura-Boo';
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 48px 0px 120px;
}

.bg-slider {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: center center;
}

.header-content {
    width: 100vw;
    height: 100vh;
}


h2 {
    color: #3E5CDA;
    font-family: 'Futura-Boo';
    text-align: center;
    font-size: 53px;
    padding: 56px;
}

#Introduction {
    padding: 0px 200px;
}


.up-introduction {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 80px;
    align-items: flex-start;
}

#Introduction p {
    padding: 0px 72px 0px 72px;
    line-height: 3ch
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-introduction {
    display: flex;
}

.up-courses {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}

.up-courses img {
    align-self: center;
}

.rps-up {
    display: flex;
}

.rps-down {
    display: flex;
}

.up-courses a {
    align-items: center;
}


.down-courses {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.down-courses img {
    align-self: center;
}


.down-courses a {
    align-self: center;
}

.rps-upup {
    display: flex;
}

.rps-downdown {
    display: flex;
}

.intro {
    align-items: center;
}

#Introduction a {
    padding: 8px 48px;
    border-radius: 12px;
    text-decoration: none;
    color: #fff;
}

.up-introduction a {
    background-color: #3F5DDA;
    margin-top: 40px;

}

.down-introduction a {
    background-color: #FFC002;
    margin-top: 16px;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.courses-inner {
    position: relative;
    z-index: 1;
}

#Courses {
    margin-top: 80px;
}

.course {
    padding: 42px 30px 54px;
    margin: 16px 9px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
}

.course p {
    align-self: center;
    margin-top: 46px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 15px;
}

.course a {
    margin-top: 20px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 12px;
    align-self: center;
}

.course-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 120px;
}

.html a {
    background-color: #F16629;
}

.css a {
    background-color: #28A9DF;
}

.unity a {
    background-color: #333333;
}

.ruby a {
    background-color: #FF5252;
}

.javascript a {
    background-color: #FFD700;
}

.swift a {
    background-color: #FE7535;
}

.go a {
    background-color: #72CFDD;
}

#Images {
    display: block;
}


.sliderimg {
    width: 100%;

}


.slider {
    margin: 30px auto 0;
    width: 80%;
}

.slider .slick-prev {
    /* デフォルトでは-25px(= スライダーの外側) */
    left: -30px;
}

.slider .slick-next {
    /* デフォルトでは-25px(= スライダーの外側) */
    right: -25px;
}

.slider .slick-prev,
.slider .slick-next {
    /* スライド画像の後ろに隠れないようにする */
    z-index: 100;
}

.slider .slick-prev::before,
.slider .slick-next::before {
    /* フォントと色の設定はbefore内で行う */
    font-size: 28px;
    color: black;
}

.map-content {
    text-align: center;
    width: 50%;
    align-items: center;
    margin: auto;
}

/* グーグルマップ・レスポンシブレイアウト */
.map-wrap {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 70%;
    /* 縦横比の指定 */
    overflow: hidden;
}

.map-wrap iframe,
.map-wrap object,
.map-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.copyright {
    text-align: center;
    color: #3E5CDA;
    font-family: 'Futura-Boo';
    padding: 20px;
}


.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}



canvas {
    display: cover;
    vertical-align: bottom;
    position: absolute;
    top: 0;
}



/* ---- particles.js container ---- */
#particles-js {
    position: relative;
    width: 100vw;
    height: 100%;
    /* height: 250vh; */
    background-color: #d6e5f9;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}


/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and (max-width:479px) {


    * {
        align-items: center;
        text-align: center;
        padding: initial;
        margin: initial;
        color: initial;
        background: initial;
    }

    div, img {
        max-width: 100%;
        height: auto;
    }



    #header-content {
        width: 100vw;
        height: 0;


    }

    .header-content {
        position: absolute;
        top: 40%;
    }

    #header p {
        font-size: 12px;
    }

    nav {
        display: none;
    }

    .logo {
        width: 70vw;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
    }


    h2 {
        font-size: 32px;
        text-align: center;
    }


    #Introduction {
        padding: initial;
    }

    .up-introduction {
        display: flex;
        flex-direction: column-reverse;
    }

    .down-introduction {
        display: flex;
        flex-direction: column-reverse;
    }

    .intro-img {
        width: 90vw;
    }

    .texts p {
        font-size: 13px;
        text-align: left;

    }

    #Introduction p {
        padding: 40px 44px 0px;
        display: block;
    }

    /* 
    #courses {
        padding: initial;
        align-items: center;
        margin: auto;
    }


    .courses-inner {
        padding: 0px 20px;
        display: inline-block;
        align-items: center;
        margin: auto;
    }

    .course {
        align-items: center;
        padding: 0px 0px 20px 0px;
        max-width: 40%;
        margin: 10px
    }

    .course a {
        margin-top: 0px;
        padding: 16px 12px;
        max-width: 30%;
    }

    .course p {
        margin-top: 8px;
    }

    .course img {
        width: 36%;
        height: auto;
    }
 */

    .courses-inner {
        transform: scale(0.9);

    }

    .course {
        align-items: center;
        padding: 0px 0px 20px 0px;
        max-width: 40%;
        margin: 10px;
        border-radius: 8px;
    }

    .course a {
        margin-top: 0px;
        padding: 16px 12px;
        max-width: 30%;
    }


    .course p {
        margin-top: 8px;
    }

    .course img {
        max-width: 50%;
        height: auto;
    }

    .up-courses {
        display: flex;
        flex-wrap: wrap;
    }

    .down-courses {
        display: flex;
        flex-wrap: wrap;
    }

    .map-content {
        width: 80%;
    }



    .sliderimg {
        width: 80%;

    }


    .slider {
        margin: 30px auto 0;
        width: 80%;
    }


}